/**
 * @author Ikaros Kappler
 * @date 2014-04-15
 **/

body {
    font-family: Courier New, Monospace;
    font-size:   10pt;
}

button.presetButton {
    width: 150px;
}


div.match_empty {
    color:       #ff0000;
    font-weight: bold;
}

div.match_partial {
    color:       #ff8800;
    font-weight: bold;
}

div.match_full {
    color:       #00a820;
    font-weight: bold;
}


